@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
    font-family: 'Myriad Pro';
    src: url('../font/myriad/MYRIADPRO-REGULAR.woff');
}

@font-face {
    font-family: 'Avenir Next';
    src: url('../font/avenir/AvenirNextRoundedStd-Reg.woff');
}


